.about {
  background-image: url('/dist/img/about.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right -110px top;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    background: url('/dist/img/about.jpg');     
    width: 100%;
    background-size: 260% 40%;
    background-repeat: no-repeat;
    background-position: right -300px top 70px;
  }

  &__title {
    text-align: right;
    position: relative;
    margin: 0 auto;
    right: -290px;  
    top: 80px;
    padding-bottom: 170px;
    width: 400px;
    @media screen and (max-width: 767px) {
      text-align: left;
      margin-top: 200px;
      left: 0;
      top: 0;
      width: 100%;
      padding: 0 5%;
    }
  }

  &__subtitle {
    font-size: 32px;
    color: $white;
    font-family: $noto-serif;
    font-weight: $medium;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    margin: 0;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__definition {
    font-size: 22px;
    color: $yellow;
    font-family: $noto-sans;
    line-height: 1em;
    font-weight: $medium;
    letter-spacing: 0.2em;
    margin: 0;
    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__item {
    position: relative; 
    display: flex;
    flex-direction: row-reverse;
    z-index: 2;
    @media screen and (max-width: 767px) {
      margin-top: 25px;
      text-align: left;
      flex-direction: column;
    }
    
    &--left {
      flex-direction: row;
      margin-top: 65px;
      margin-bottom: 50px; 
      @media screen and (max-width: 767px) {
        margin-top: 0;
        text-align: right;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
  
  &__image {
    position: relative;
    left: 90px;
    width: 460px;
    height: 285px;
    @media screen and (max-width: 767px) {
      margin-top: 33px;
      width: 90%;
      left: 0;
      margin-left: auto;
      height: auto;
    }
    
    &--left { 
      left: -92px;
      @media screen and (max-width: 767px) {
        margin-top: 60px;
        width: 90%;
        left: 0;
        margin-left: 0;
        margin-right: auto;
        height: auto;
      }
    }
  }

  &__text {
    width: 680px;
    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 28px;
      padding: 0 5%;
    }
  }
}
