.banner {
  background-image: url('/dist/img/banner.jpg');
  background-image: linear-gradient(rgba(92, 10, 92, 0) 600px, #9a00a1), url('/dist/img/banner.jpg');
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  height: 800px;
  @media screen and (max-width: 767px) {
    background-image: url('/dist/img/banner__sp.jpg');
    background-image: linear-gradient(rgba(92, 10, 92, 0) 400px, #9a00a1), url('/dist/img/banner__sp.jpg');
    background-size: cover;
    width: 100%;
    height: 477px;
  }

  &__container {
    width: 100%;
  }

  &__logo {
    width: 430px;
    position: absolute;
    margin: auto;
    top: 18px;
    left:0;
    right:0;
    @media screen and (max-width: 767px) {  
      width: 325px;
      top: 55px;
    }
  }

  &__text {
    text-align: center; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    margin: 0 auto;
    width: 590px;
    @media screen and (max-width: 767px) {
      top: 405px;
      width: 100%;
      padding: 0 5%;
    }
  }
}