.button {
  width: 190px;
  height: 45px;
	display: block;
  padding: 10px 60px 10px 59px;
	color: $yellow;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.4em;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
  z-index: 2;
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
    width: 190px;
    height: 46px;
    padding-left: 72.5px;
  }
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/dist/img/button.png');
    background-repeat: no-repeat;
    width: 190px;
    height: 45px;
    opacity: 0.4;
    z-index: -2;
    transition: 0.3s ease;
  }

  &:hover {
    color: $yellow;
    
    &::after {
      opacity: 1;
    }
  }

  &__dot {
    letter-spacing: 0;
  }

  &--left {
    margin-left: auto;
  }

  &--large {
    width: 340px;
    height: 80px;
    padding: 25px 50px 10px 100px;
    color: $yellow;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.4em;
    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
      padding: 25px 5px 30px 55px;
      font-size: 20px;
      max-width: 285px;
      max-height: 70px;
    }

    &::after {
      content: '';
      background: url('/dist/img/button__large.png');
      height: 80px;
      width: 340px;
      @media screen and (max-width: 767px) {
        width: 285px;
        height: 70px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
