.contact {
  &__header {
    text-align: center;
    position: relative;
    margin: 0 auto;
    right: 0;  
    left: 0;
    margin-top: 102px;
    width: 435px;
    z-index: 2;
    @media screen and (max-width: 767px) {  
     margin-top: 80px;
     width: 288px;
    }
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    @media screen and (max-width: 767px) {  
      margin-top: 0;
    }
  }
}