.content {
  &__title {
    font-size: 52px;
    font-family: $noto-serif;
    font-weight: $thin;
    line-height: 1em;
    color: $yellow;
    margin: 0;
    @media screen and (max-width: 767px) {
      font-size: 36px;      
    }

    &--large {
      font-size: 66px;
      color: $yellow;   
      @media screen and (max-width: 767px) {
        font-size: 48px;
      }
    }

    &--small {
      font-size: 28px;
      color: $yellow;  
      font-family: $ropa-sans;
      font-weight: $thin; 
      letter-spacing: 0.4em;
    }
  }

  &__paragraph {
    font-size: 16px;
    font-weight: $light;
    line-height: 1.88em;
    margin-top: 15px;
    color: $white;
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }

  &__item {
    font-size: 32px;
    font-weight: $medium;
    line-height: 1em;
    margin-top: 15px;
    color: $white;
  }
}
