.container {
  max-width: 980px;
  margin: 0 auto;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    max-width: 767px;
    margin: 0 auto;
  }
}

.main-container {
  overflow: hidden;
}