.footer {
  &__icons {
    display: flex;
    justify-content: space-around;
    width: 65px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 767px) {  
      margin-top: 100px;
    }
  }

  &__text {
    text-align: center;
    position: relative;
    margin: 0 5%;
    margin-top: 25px;
    z-index: 2;
  }
  

  &__company {
    color: $white;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: $medium;
    right: 0;  
    left: 0;
  }

  &__address {
    color: $white;
    font-size: 16px;
    line-height: 1.88em;
    font-weight: $light;
    margin: 0;
    @media screen and (max-width: 767px) {  
      margin: 0 auto;
      font-size: 15px;
    }
  }

  &__copyright {
    text-align: center;
    color: $white;
    font-size: 14px;  
    line-height: 1em;
    font-weight: $light;
    padding-bottom: 95px;
    @media screen and (max-width: 767px) {  
      font-size: 13px;  
      margin: 30px auto;
      padding-bottom: 0;
    }
  }
  
&__top {
  position: fixed;
  bottom: 50px;
  right: 27px;
  z-index: 9999;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
  cursor: pointer;
  @media screen and (max-width: 767px) {  
    display: none;
  }
}

&__show {
  opacity: 1;
  transform: translateY(0);
}
}

