.interview {
  &__header {
    position: relative; 
    margin-top: 70px;
    z-index: 2;
    @media screen and (max-width: 767px) {  
      margin: 0;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  &__team {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    padding-left: 35px;
    z-index: 2;
    @media screen and (max-width: 767px) {  
      margin: 0;
      max-width: 100%;
      padding: 0 17%;
    }

    &--left {
      margin-top: -10px;
      margin-left: -34px;
      padding-right: 35px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 35px;
      z-index: 2;
      @media screen and (max-width: 767px) {
        margin: 0;
        max-width: 100%;
        padding: 0 18%;
      }
    }
  }

  &__item-container {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    @media screen and (max-width: 767px) { 
      margin-top: 30px;  
      flex-direction: column;
    }

    &--left {
      justify-content: flex-start;
      z-index: 2;
      @media screen and (max-width: 767px) {
        margin-top: 0; 
        flex-direction: column;
      }
    }
  }

  &__text {
    text-align: left;
    width: 370px;
    margin-top: 5px;
    @media screen and (max-width: 767px) {  
      width: 100%;
      margin: 0 auto;
    }
  }

  &__name {
    color: $white;
    font-family: $noto-serif;
    font-weight: $semi-bold;
    font-size: 14px;
    letter-spacing: 0.2em;
    @media screen and (max-width: 767px) {  
      font-size: 12px;
      line-height: 1.46em;
      margin: 0;
    }

    &--jp {
      font-size: 16px;
      font-weight: $regular;
      letter-spacing: 0.1em;
      line-height: 0;
      @media screen and (max-width: 767px) {  
        font-size: 13px;
        margin-top: 20px;
        line-height: 1.59em;
      }
    }
  }

  &__definition {
    color: $white;
    font-family: $noto-serif;
    font-weight: $medium;
    margin-top: -5px;
    font-size: 21px;
    line-height: 1.75em;
    letter-spacing: 0.1em;
    @media screen and (max-width: 767px) {  
      font-size: 17px;
      margin-top: 20px;
      line-height: 1.48em;
    }
  } 

  &__number {
    position: absolute;
    font-family: $pinyon-script;
    color: $yellow;
    font-size: 80px;
    letter-spacing: 0.2em;
    top: -120px;
    right: 0;
    z-index: 3;
    @media screen and (max-width: 767px) {  
      font-size: 48px;
      width: 20%;
      top: -40px;
      right: 33px;
    }

    &--left {
      right: 35px;
      @media screen and (max-width: 767px) {  
        font-size: 48px;
        width: 20%;
        top: -40px;
        right: 33px;
      }  
    }
  }

  &__image {
    position: relative;
    width: 370px;
    height: 215px;
    @media screen and (max-width: 767px) {
      margin-top: 33px;
      width: 100%;
      height: auto;
    }
  }
}

