.message {
  background-size: auto;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 767px){
    width: 100%;
  }
    
  &::before {
    content: '';
    background-image: url('/dist/img/message.jpg');  
    background-repeat: no-repeat;
    position: absolute;
    background-position: left -410px top 120px;
    width: 100%;
    height: 1003px;
    z-index: -1;
    overflow: hidden;
    @media screen and (max-width: 767px) {
      background-size: contain;
      width: 100%;
      background-size: 180%;
      background-position: right -120px top 300px;
    }
  }
  
  &__header {
    position: relative; 
    margin-top: 67px;
    z-index: 2;
    @media screen and (max-width: 767px) {  
      margin-top: 30px;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  &__title {
    font-family: $noto-serif;
    font-weight: $medium;
    color: $white;
    font-size: 32px;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    @media screen and (max-width: 767px) {  
      font-size: 25px;
      text-align: center;
      width: 100%;
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  &__item {
    position: relative; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    z-index: 2;
    @media screen and (max-width: 767px) {  
      flex-direction: column;
      padding: 0 5%;
      margin-top: 40px;
      width: 100%;
    }
  }

  &__text {
    width: 605px;
    padding-right: 45px;
    @media screen and (max-width: 767px) {  
      width: 100%;
      padding: 0;
    }
  }

  &__entry {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  &__image {
    object-position: -10px -10px;
    @media screen and (max-width: 767px) {  
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 10px -5px;
    }
  }

  &__image-container {
    margin-top: 33px;
    width: 300px;
    height: 345px;
    overflow: hidden;
    @media screen and (max-width: 767px) { 
      margin: 40px auto 0;
      width: 75%;
      height: 70vw;
    }
  }
}
