.nav {
  position: fixed;
  z-index: 3;
  width: 320px;
  max-width: 320px;
  height: 100%;
  top: 0;
  right: 0;
  padding: 95px 0px;
  background-color: black;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.83, 0.14, 0.33, 1.05);
  @media screen and (max-width: 767px) {  
    width: 100%;
    max-width: 100%;
    padding: 40px 0px;
    background-color: black;
    opacity: 90%;
  }

  &__lines {
    top: 15px;
    height: 3px;
    width: 35px;
    background: #ffdb00;
    position: absolute;
    display: block;
    transition: all 0.5s ease-in-out;
    @media screen and (max-width: 767px) {  
      width: 25px;
      top: 10px;
    }
    
    &::before {
      content: '';
      top: -13px;
      height: 3px;
      width: 35px;
      background: #ffdb00;
      position: absolute;
      display: block;
      transition: all 0.5s ease-in-out;
      @media screen and (max-width: 767px) {  
        width: 25px;
        top: -10px;
      }
    }
    
    &::after {
      content: '';
      top: 15px;
      height: 3px;
      width: 35px;
      background: #ffdb00;
      position: absolute;
      display: block;
      transition: all 0.5s ease-in-out;
      @media screen and (max-width: 767px) {  
        width: 25px;
        top: 10px;
      }
    }
  }

  &__trigger {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 35px;
    height: 35px;
    color: transparent;
    white-space: nowrap;
    text-indent: 100%;
    z-index: 9999;
    cursor: pointer;
    @media screen and (max-width: 767px) {  
      top: 20px;
      right: 20px;
      width: 25px;
      height: 25px;
    }
    
    &--active {
      .nav__lines {
        background-color: transparent;

        &::before {
          top: 0;
          transform: rotate(45deg);
        }

        &::after {
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
  
  &--open {
    transform: translateX(0);
  }

  &__list {
    font-weight: $regular;
    height: 100%;
    @media screen and (max-width: 767px) {  
      overflow: scroll;
    }
  }

  &__item {
    font-size: 20px;
    line-height: 2.5em; 
    letter-spacing: 0.03em;
    list-style-type: none;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {  
      font-size: 18px;
      line-height: 1.83em; 
      letter-spacing: 0.01em;
      margin-top: 12px;
    }

    &:hover {
      font-weight: bold;  
    }

    &--sub {
      margin-left: 20px;
      font-size: 16px;
      line-height: 1.88em;
      @media screen and (max-width: 767px) {  
        margin-left: 12px;
        font-size: 12px;
        line-height: 1.83em; 
        letter-spacing: 0.01em;
      }
    }
  }
}

