.portfolio {
  background-size: auto;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 767px){
    width: 100%;
    z-index: 1;
  }
  
  &::before {
    content: '';
    background-image: url('/dist/img/portfolio.jpg');  
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -300px;
    width: 100%;
    height: 755px;
    z-index: -1;
    overflow: hidden;
    @media screen and (max-width: 767px) {
      background-image: linear-gradient(rgba(92, 10, 92, 0) 180%, #9a00a1), url('/dist/img/portfolio.jpg');
      background-size: contain;
      width: 100%;
      background-size: 670px;
      background-position: left top 250px;
    }
  }

  &__header {
    margin-top: 60px;
    position: relative;
    display: flex;
    @media screen and (max-width: 767px) {
      margin-top: 90px;
      flex-direction: column;
      padding: 0 5%;
    }
  }
  
  &__image {
    position: relative;
    width: 300px;
    height: 150px;
    @media screen and (max-width: 767px) {
      margin-top: 30px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      height: auto;
    }
  }
  
  &__text {
    width: 400px;
    margin-right: 280px;
    @media screen and (max-width: 767px) {
      width: 250px;
      margin-left: auto;
      margin-right: 0;
      text-align: right;
    }
  }

  &__list {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
    font-size: 16px;
    font-family: $noto-sans;
    font-weight: $light;
    color: $white;
  }

  &__item {
    &:first-child {
      border-top: 1px solid #bc52be;
    }
    align-items: left;
    line-height: 1.75em;
    display: flex;
    border-bottom: 1px solid #bc52be;
    padding: 10px 0;
    @media screen and (max-width: 767px) {
      line-height: 1.57em;
      padding: 4% 0;
      margin: 0 5%;
      width: 90%;
    }
  }
  
  &__date {
    padding-right: 35px;
    margin: 0;
    line-height: 1.75em;
    @media screen and (max-width: 767px) {
      padding-right: 15px;
      font-size: 13px;
      width: 100%; 
      font-weight: $light;
    }
  }

  &__title {
    padding-right: 120px;
    width: 580px;
    margin: 0;
    line-height: 1.75em;
    @media screen and (max-width: 767px) {
      padding-right: 0;
      font-size: 13px;
      width: 100%;
      line-height: 1.92em;
      font-weight: $bold;
    }
  }

  &__subtitle {
    padding-right: 120px;
    width: 580px;
    margin: 0;
    line-height: 1.75em;
    @media screen and (max-width: 767px) {
      padding-right: 0;
      font-size: 13px;
      width: 100%;
      line-height: 1.92em;
      font-weight: $light;
    }
  }

  &__director {
    width: 225px;
    margin: 0;
    line-height: 1.75em;
    @media screen and (max-width: 767px) {
      font-size: 13px;
      width: 100%;
      margin-top: 8px;
      font-weight: $light;
    } 
  }

  &__container {
    display:inline-flex;
    flex-wrap:wrap;
    flex-direction:row;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  
  &__row {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }
}
