.recruit {
  background-size: auto;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 767px) {
    z-index: 0
  }


  &::before {
    content: '';
    background-image: url('/dist/img/recruit.jpg');  
    background-repeat: no-repeat;
    position: absolute;
    background-position: right -180px top -20px;
    width: 100%;
    height: 900px;
    z-index: -1;
    overflow: hidden;
    @media screen and (max-width: 767px) {
      background-size: contain;
      width: 100%;
      background-size: 180%;
      background-position: right -130px top -15px;
      top: -100px;
    }
  }

  &__container {
    position: relative; 
    display: flex;
    flex-direction: row-reverse;
    padding-top: 180px;
    @media screen and (max-width: 767px) {  
      flex-direction: column;
      padding: 20% 5%;
    }
  }
  
  &__text {
    width: 405px;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__title {
    text-align: right;
    position: relative;
    width: 400px;
    @media screen and (max-width: 767px) {  
      text-align: left;
      width: 100%;
      margin-top: 20px;
    }
  }

  &__list {
    position: relative;
    margin-top: 35px;
    right: 12px;
    font-size: 18px;
    line-height: 3.13em;
    letter-spacing: 0.1em;
    color: $yellow;
    @media screen and (max-width: 767px) {  
      margin-top: 30px;
      padding-left: 0;
      right: 0;
      font-size: 14px;  
      line-height: 2.50em;
    }
  }

  &__item {
    display: block;

    &::before {
      content: '';
      width: 35px;
      height: 1px;
      background-color: $yellow;
      margin-right: 5px;
      position: relative;
      display: inline-block;
      @media screen and (max-width: 767px) {  
        content: none;
      }
    }
    &::after {
      content: '';
      @media screen and (max-width: 767px) {  
        width: 30px;
        height: 1px;
        background-color: $yellow;
        margin-left: 12px;
        position: relative;
        display: inline-block;
      }
    }
  }

  &__image {
    position: relative;
    width: 720px;
    height: 445px;
    margin-right: 140px;
    margin-top: 40px;
    @media screen and (max-width: 767px) {  
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
    }
  }
}

