// Font Variables
$noto-serif: 'Noto Serif JP', serif;
$noto-sans: 'Noto Sans JP', sans-serif;
$ropa-sans: 'Ropa Sans', sans-serif;
$pinyon-script: 'Pinyon Script', cursive;

// Color
$yellow: #ffdb00;
$white: #ffffff;

// Font Weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;
