html, 
body {
  background-color: #9a00a1;
  font-family: $noto-sans;
  font-feature-settings: 'palt';
  @media screen and (max-width: 980px) {
    min-width: 980px;
  }
  @media screen and (max-width: 767px) {
    min-width: 325px;
  }
}

a {
  text-decoration: none;
  color: $yellow;
}
